.cardLink {
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 400px;
    height: 500px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 35px 60px -15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
}

.image {
    height: 100%;
    overflow: hidden;
}

.imageContent {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    color: #252A34;
    font-family: "Playfair Display";
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: capitalize;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    
    color: #555;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    text-transform: capitalize;
}

.buttonContainer {
    padding: 12px;
}

.buttonRow {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: nowrap;
}

.button {
    background-color: #F4911F;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    padding: 8px 16px;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #8b5cf6;
}