.bgContainer{
    display: flex;
    justify-content: center;
    margin: 100px 10px 150px 10px;
}
.mainContainer{
    max-width: 992px;
    
}
.imageConatiner{
    display: flex;
    justify-content:center;
    padding: 30px;
}
.toplinebarsvg{
    position: relative;
    width: 80px;
    top: 100px;
    left: 10px;
    z-index: -1;
    /* display: none; */
}

.bottomlinebarsvg{
    position:relative;
    width: 40px;
    left: -185px;
    top: -95px;
}

.texContainer{
    margin-left: 30px;
    margin-top: 50px;   
}

.heading{
    color: #252A34;
    font-family: "Playfair Display";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 128.205% */
    text-transform: capitalize;
}

.paragraph{
    color: #888;
    text-align: justify;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.joinBtn{
    margin-top: 30px;
    display: flex;
    padding: 14px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 34px;
    background: #F4911F;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    text-transform: capitalize;
}

@media screen and (min-width:768px) {
    .imageConatiner{
        display: flex;
        justify-content:end;
        /* margin-left: 22px; */
    }

    .image{
        margin: 5px;
        width: 100px;
        flex-grow: 1;
    }
    .image2{
        margin: 5px;
        width: 100px;
        position: relative;
        top: 50px;
        flex-grow: 1;
    }

    .toplinebarsvg{
        position: relative;
        width: 80px;
        top: 100px;
        left: 10px;
        z-index: -1;
        flex-grow: 0;
    }

    .bottomlinebarsvg{
        position:relative;
        width: 40px;
        left: -185px;
        top: -107px;
        flex-grow: 0;
    }
    
}

@media screen and (max-width:768px) {
    .texContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;  
        margin-left: 0px; 
    }

    .heading{
        text-align: center;
    }
    .bottomlinebarsvg{
        display: none;
    }
    .toplinebarsvg{
        display: none;
    }
   
}

@media (width:768px) {
    .bottomlinebarsvg{
        position:relative;
        width: 40px;
        left: -185px;
        top: -140px;
    } 
    
}
