.MainPage{
    display: flex;
    justify-content: space-between;
}
.sideImage{
    padding-top: 150px;
    padding-right: 100px;
    width: 50%;
    height: 100%;
}
.sectionHeader{
    margin-left: 100px;
    margin-bottom: 0px;
}
.introParagraph{
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 20px;
}
.sectionTitle{
    padding-left: 100px;
    color: #252A34;
    font-family: "Playfair Display";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    text-transform: capitalize;
    margin-bottom: 40px;
}
.MainPageContent p{
    color: #000;
    text-align: justify;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}

.MainPg2 {
    display: flex;
    padding: 0px 100px 100px 100px;
    gap: 60px;
}

.MainPgimg2 {
    /* Keep a consistent image area so landscape images don't look squished */
    flex: 0 0 420px;
    width: 420px;
}

.MainPgimg2 img {
    width: 100%;
    height: 500px;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.paragraphs1 p {
    color: #252A34;
    text-align: justify;
    width: 600px;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0px;
}

.publicationCta {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    border-radius: 10px;
    background: #F4911F;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none;
}

.publicationCta:hover {
    background: #8b5cf6;
}

@media (max-width: 1024px) {
    .sectionHeader{
        margin-left: 40px;
    }
    .introParagraph{
        margin-left: 40px;
        margin-right: 40px;
    }
    .sectionTitle{
        padding-left: 40px;
    }
    .MainPg2{
        padding: 0px 40px 80px 40px;
    }
    .paragraphs1 p{
        width: 100%;
        max-width: 600px;
    }
    .sideImage{
        padding-right: 40px;
    }
}

@media (max-width: 768px) {
    .MainPage{
        flex-direction: column;
        gap: 20px;
    }
    .sectionHeader{
        margin-left: 20px;
    }
    .introParagraph{
        margin-left: 20px;
        margin-right: 20px;
    }
    .sideImage{
        width: 100%;
        padding-top: 0px;
        padding-right: 0px;
    }
    .sectionTitle{
        padding-left: 20px;
        font-size: 26px;
        line-height: 38px;
    }
    .MainPg2{
        flex-direction: column;
        padding: 0px 20px 60px 20px;
        gap: 20px;
    }
    .MainPgimg2{
        flex: none;
        width: 100%;
    }
    .MainPgimg2 img{
        height: 280px;
    }
    .paragraphs1 p{
        width: 100%;
        max-width: none;
    }
}

@media (max-width: 480px) {
    .sectionTitle{
        padding-left: 16px;
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 20px;
    }
    .sectionHeader{
        margin-left: 16px;
    }
    .introParagraph{
        margin-left: 16px;
        margin-right: 16px;
    }
    .MainPg2{
        padding: 0px 16px 40px 16px;
    }
    .MainPgimg2 img{
        height: 220px;
    }
}
