.heading{
    color:rgba(244, 145, 31, 1);
    font-weight: 700;
    font-size: 5.1vmin;
    font-family: "Playfair Display", serif;
}

.para{
    font-family: "Nunito Sans", sans-serif;
    margin-top: 10px;
    font-weight: 400;
    font-size: 4vmin;
    width:97%;

}

.nameContainer{
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.fieldName{
    color: #252A34;
    text-align: center;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 8px;
}

.nameInput{
    border:1px solid rgba(175, 175, 175, 1) ;
    height: 30px;
    width: 100%;
    padding: 7px;
    border-radius: 4px;
}

@media (max-width:576px) {
    .nameInput{
        width: 94%;
    }
    
    .contactustext{
        /* position: absolute;
         top: -90px ;
         left: 10px;  */
         margin-bottom:20px;
    }
    .messageInput{
        border:1px solid rgba(175, 175, 175, 1) ;
        padding: 7px;
        border-radius: 4px;
        width: 100%;
    }
}

@media (min-width:768px) {
    .nameInput{
        width: 90%;
    }
    .heading{
        font-size:3.1vmin;
    }

    .para{
        font-size: 2.4vmin;
    }
    .contactustext{
        position: absolute;
         top:0px ;
         left: 0px; 
    }
    .horizontalInputContainer{
        display: flex;
        justify-content: space-between;
    }
}
.messageInput{
    border:1px solid rgba(175, 175, 175, 1) ;
    width:95%;
    padding: 7px;
    border-radius: 4px;
}
.buttonContainer{
    display: flex;
    justify-content: center;
}
.submitBtn{
    background-color:rgba(244, 145, 31, 1);
    color: white;
    width:50%;
    padding: 8px 0px;
    margin-top: 15px;
    border-radius: 5px;
}

.haveAquestionText{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color:rgba(37, 42, 52, 1);
    
}

.contactusText{
    font-family: "Playfair Display", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color:rgba(37, 42, 52, 1);
}

.line{
    background-color: red;
    /* padding: 1px 30px; */
    height: 100px;
    width: 100px;

}

.locationIcon{
    width: 15px;
}



