.MainPg1 {
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    gap: 24px;
}

.MainPgimg1 img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

.paragraphs1 p {
    color: #252A34;
    text-align: justify;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0px;
}

.MainPg2 {
    display: flex;
    flex-direction: column;
    padding: 0px 16px 40px 16px;
    gap: 24px;
}
.MainPgimg2 img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

@media (min-width: 768px) {
    .MainPg1 {
        flex-direction: row;
        padding: 0px 60px;
        gap: 60px;
    }
    .MainPg2 {
        flex-direction: row;
        padding: 0px 60px 60px 60px;
        gap: 40px;
    }
}

@media (min-width: 1024px) {
    .MainPg1 {
        padding: 0px 100px;
        gap: 120px;
    }
    .MainPg2 {
        padding: 0px 100px 100px 100px;
        gap: 60px;
    }
}
