.NAICpageMainPage {
    display: flex;
    flex-direction: column;
    padding: 0px 16px 40px 16px;
    gap: 24px;
  }

  @media (min-width: 768px) {
    .NAICpageMainPage {
      flex-direction: row-reverse;
      padding: 0px 60px 60px 60px;
      gap: 60px;
    }
  }

  @media (min-width: 1024px) {
    .NAICpageMainPage {
      padding: 0px 100px 100px 100px;
      gap: 100px;
    }
  }
  
  .NAICpageMainPageImage1 img, 
  .NAICpageMainPageImage2 img {
    /* width: 362px; */
    height: auto; 
  }
  
  /* Styles for the content container */
  .NAICpageMainPageContent {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* text-align: left; */
    /* position: relative;  */
    /* left: -200px; */
  }
  
  .NAICpageMainPageContent h1 {
    color: #252A34;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-transform: capitalize;
  }
  
  .NAICpageMainPageContent h2 {
    color: #252A34;
    font-family: "Playfair Display";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    text-transform: capitalize;
  }
  
  .NAICpageMainPageContent p {
    color: #252A34;
    text-align: justify;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
  }
  