@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Inter:wght@400;700&family=Montserrat:wght@400;700&family=Nunito:wght@400;700&display=swap');

/* Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    max-width: 100%;
    height: auto;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }
}
