.shfyMainPage {
    display: flex;
    padding: 60px 60px;
    gap: 50px;
}
.shfyMainPageImage img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.shfyMainPageContent {
    max-width: 670px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shfyMainPageContent h1 {
    color: #252A34;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-transform: capitalize;
}

.shfyMainPageContent h2 {
    color: #252A34;
    font-family: "Playfair Display";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    text-transform: capitalize;
}

.shfyMainPageContent p {
    color: #252A34;
    text-align: justify;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

@media (max-width: 768px) {
    .shfyMainPage {
        flex-direction: column;
        padding: 20px;
        gap: 24px;
    }
    .shfyMainPageContent {
        max-width: 100%;
    }
    .shfyMainPageContent h2 {
        font-size: 24px;
        line-height: 36px;
    }
}

@media (max-width: 480px) {
    .shfyMainPage {
        padding: 16px;
        gap: 16px;
    }
    .shfyMainPageContent h2 {
        font-size: 20px;
        line-height: 30px;
    }
    .shfyMainPageContent p {
        font-size: 14px;
        line-height: 26px;
    }
}